* text=auto

# Documents
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.md text eol=crlf
*.adoc text eol=crlf
*.textile text eol=crlf
*.mustache text eol=crlf
*.csv text eol=crlf
*.tab text eol=crlf
*.tsv text eol=crlf
*.sql text eol=crlf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
# SVG treated as an asset (binary) by default. If you want to treat it as text,
# comment-out the following line and uncomment the line after.
*.svg binary
#*.svg text eol=crlf
*.eps binary

# Python source files
*.pxd		text eol=crlf
*.py 		text eol=crlf
*.py3 		text eol=crlf
*.pyw 		text eol=crlf
*.pyx  		text eol=crlf

# Python binary files
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary

# Visual Studio
*.sln text eol=crlf
*.pyproj text eol=crlf
*.suo binary